{% extends 'base.html.twig' %}

{% block title %}Discipline index{% endblock %}

{% block body %}
    <h1>Discipline index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>DISCIPLINE</th>

                <th>MODIFIER DISCIPLINE</th>
            </tr>
        </thead>
        <tbody>
        {% for discipline in disciplines %}
            <tr>
                <td>{{ discipline.libelle }}</td>

                <td>
                    <a href="{{ path('discipline_show', {'id': discipline.id}) }}">VOIR</a>
                    <a href="{{ path('discipline_edit', {'id': discipline.id}) }}">MODIFIER</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('discipline_new') }}">Nouvelle discipline</a>
{% endblock %}
