{% extends 'base.html.twig' %}

{% block title %}Edit Evenement{% endblock %}

{% block body %}
    <h1>Edit Evenement</h1>

    {{ include('evenement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('evenement_index') }}"
       class="btn btn-info" title="Liste événement" data-toggle="tooltip">
        <i class="fas fa-angle-double-left"></i></a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
