{% extends 'base.html.twig' %}

{% block title %}Edit Adresse{% endblock %}

{% block body %}
    <h1>Edit Adresse</h1>

    <div class="form-group">
    	<div class="col-lg-10">
    		{{ include('adresse/_form.html.twig', {'button_label': 'Update'}) }}
    	</div>
    	<div>
		    {#{ include('adresse/_delete_form.html.twig') }#}
    	</div>	
	</div>
{% endblock %}
