{% extends 'base.html.twig' %}

{% block title %}Edit Adresse{% endblock %}

{% block body %}
    <h1>Edit Adresse</h1>

    <div class="form-group">
    	<div class="col-lg-10">
    		{{ include('adresse/_form.html.twig', {'button_label': 'Update'}) }}
    	</div>
    	{'button_label': 'Update'}
    	<div class="col-lg-offset-6">
    		<button type="button" class="btn btn-danger">
	 			<a href="{{ path('adresse_index') }}">❮ Previous</a>
			</button>
    	</div>	
	</div>


    {{ include('adresse/_delete_form.html.twig') }}
{% endblock %}
