{% extends 'base.html.twig' %}

{% block title %}Nouvelle adresse{% endblock %}

{% block body %}
    <h1>Entrer une nouvelle adresse</h1>

    {{ include('adresse/_form.html.twig') }}

    <a href="{{ path('adresse_index') }}">back to list</a>
{% endblock %}
