{% extends 'base.html.twig' %}

{% block title %}New Adresse{% endblock %}

{% block body %}
    <h1>Create new Adresse</h1>

    <div class="row">
    	{{ include('adresse/_form.html.twig') }}
    

    <button type="button" class="btn btn-danger">
    	<a href="{{ path('adresse_index') }}">â® Previous</a>
    </button>
    </div>

{% endblock %}
